body {
  margin: 0;
  min-width: 960px;
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  line-height: 32px;
  color: #222222;
  background-color: #f2f4f6;
  background-repeat: no-repeat;
  background-position: top center;
}

aside {
    display: block;
    width: calc(25% - 1.875rem);
    float: right;
    margin-right: 50px;
    position: fixed;
    margin-left: 75%;
}



.container {
  max-width: 65%;
  margin: 0 auto;
  padding: 0 16px;
}

.page-header {
  margin: 0 0 30px;
  padding: 16px 0 16px;
  background-color: #1d262d;
  color: #ffffff;
}

.page-header .container,
.page-footer .container {
  max-width: 1408px;
  text-align: right;
}

.page-header a {
  margin-left: 56px;
  color: #ffffff;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: left;
}

.header-email {
  padding-left: 30px;
  background-image: url("img/icon-email-footer.svg");
}

.header-phone {
  padding-left: 25px;
  background-image: url("img/icon-phone-footer.svg");
}

.name-site {
	text-align: left;
	float: left;
	font-size: 26px;
}

.content-section{
	float: left;
	text-align: center;
	margin-left: 15px;
	margin-right: 15px;
}

.sidebar {
	margin-bottom: 20px;
	padding: 15px 15px 10px;
	border: 1px solid #d8dce3;
}
.menu-name{
	border-bottom: 1px solid #C0C0C0;
}

.menu {
	list-style-type: none;
	margin: 0px 0;
	padding: 0px;

}

.leaf {
	list-style-type: none;
	list-style-position: outside;
	list-style-image: none;
	text-align: left;
	border-bottom: 1px solid #d8dce3;
}

.main-heading {
	margin: 0 0 30px;
}

.content-block {
	text-align:left;
}

.sh-item {
	margin-bottom: 15px;
	padding-left: 20px;
	border-left: 10px solid #c4c4c4;
}