body {
  margin: 0;
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  line-height: 32px;
  color: #222222;
  background-color: #f2f4f6;
  background-repeat: no-repeat;
  background-position: top center;
}

article, aside {
	float: left;
	height: 100%;
}

article	{
	min-height:1024px;
	width: 60%;
}

aside {
    display: block;
    width: calc(25% - 1.875rem);
    margin-top: 10px;
    margin-right: 50px;
    font-size: 14px;
}

footer {
  clear: both;
  margin-bottom: 0;
}

.name-site img{
    width:40px;
    height:auto;
}

img {
    width: 100%;
    height: auto;
}

.container {
  max-width: 65%;
  margin: 0 auto;
  padding: 0 16px;

}

.page-header {
  padding: 16px 0 16px;
  background-color: #1d262d;
  color: #ffffff;
}

.page-header .container,
.page-footer .container {
  max-width: 1408px;
  text-align: right;
}

.page-header a {
  margin-left: 56px;
  color: #ffffff;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: left;
}

.header-email {
  padding-left: 30px;
  background-image: url("img/icon-email-footer.svg");
}

.header-phone {
  padding-left: 25px;
  background-image: url("img/icon-phone-footer.svg");
}

.name-site {
	text-align: left;
	float: left;
	font-size: 26px;
}

.content-section{
	text-align: center;
	margin-left: 7%;
}

ul{
    list-style:none;
}

.sidebar {
    position: fixed;
    margin-bottom: 20px;
    padding: 15px 15px 20px;
    max-width: calc(22% - 1.875rem);
    background: #1d262d;
    border: 1px solid #000000;
    color: #d8dce3;
}

aside a {
    text-decoration-line: none;
    color: #d8dce3;
}
.sidebar .leaf{
    padding:3px 5px 3px 10px;
    line-height:2;
}
.sidebar .leaf:hover {
    background: #151b1f;
    color: #f4f5f7;
}

.menu-name{
	border-bottom: 1px solid #C0C0C0;
    padding-bottom:10px;
    margin-bottom:10px;
}

.menu {
	list-style-type: none;
	margin: 0px 0;
	padding: 0px;
}

.leaf {
	list-style-type: none;
	list-style-position: outside;
	list-style-image: none;
	text-align: left;
	border-bottom: 1px solid #d8dce3;
}

.main-heading {
	margin: 0 0 30px;
}

.content-block {
	text-align:left;
}

.sh-item {
	margin-bottom: 15px;
	padding-left: 20px;
	border-left: 10px solid #c4c4c4;
}

.page-footer {
	padding: 20px 0;
	background-color: #1d262d;
	color: #ffffff;
}

.page-footer a {
	margin-left: 56px;
	color: inherit;
	text-decoration: none;
	background-repeat: no-repeat;
	background-position: left;
}

.contact-info {
	margin-bottom:10px;
}

.contact-info p{
	display: inline-block;
	vertical-align: top;
	width: 20%;
	margin: 0 5px;
	text-align: center;
	background-repeat: no-repeat;
	background-position: center top;
}

.main {
	background-color: #fAf9fA;
	margin: 0 10% 20px 10%;
	float: left;
}
h2{
    text-align:center;
}
h3 {
    margin-left:20px;
}